/*******************************************************************************
 * Sample for a Dynatree custom stylesheet.
 * This is expected to be included after the standard ui.dynatree.css, thus
 * overridung the defaults.
 */
.dynatree-has-children span.dynatree-icon
{
    background-position: 0 0;
	background-image: url("doc_with_children.gif");
	background-size:contain;
}

.dynatree-ico-cf span.dynatree-icon  /* Collapsed Folder */
{
	background-image: url("folder_docs.gif");
	background-size:contain;
}

.dynatree-ico-ef span.dynatree-icon  /* Expanded Folder */
{
	background-image: url("folder_docs.gif");
	background-size:contain;
}
/*******************************************************************************
 * Node titles
 */

span.dynatree-has-children a
{
/*
	font-style: oblique;
*/
}

span.dynatree-selected a
{
/*
	color: green;
	font-style: italic;
*/
}

span.dynatree-active a,
span.dynatree-active a:hover
{
	font-weight: bold;
	background-color: #fff0f5;
}

/*******************************************************************************
 * Custom node classes (sample)
 */

span.custom1 a
{
/*
	background-color: #ffffbb;
	color: maroon;
*/
}
span.custom1 span.dynatree-icon
{
    background-position: 0 0;
	background-image: url("customDoc2.gif");
	background-size:contain;
}

span.custom2 a
{
/*
	font-weight: bold;
	background-color: silver;
	color: navy;
*/
}
span.custom2 span.dynatree-icon
{
    background-position: 0 0;
	background-image: url("folder_page.gif");
	background-size:contain;
}
